html, body, canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
}
nav, ul, li {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #1c1d1e; */
  background-color: #ebe9de;
  background-image: url("images/mountains.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.text {
  color: #444;
  font-size: 20px;
}
.color {
  height: 40px;
  width: 25vw;
  border: none;
}
nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 5px;
}
.nav-item {
  padding: 10px;
}
.nav-item:hover, li:hover {
  background-color: rgba(0,0,0,0.1);
  /* background-color: rgba(255,255,255,0.2); */
}
ul {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  line-height: 2;
  list-style-type: none;
  background-color: rgba(0,0,0,0.1);
}
li {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}
.theme-dropdown:hover ul {
  display: block;
}
.github {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
}

/* Extra Small Devices, Phones under 480px (XS) */
@media (max-width: 480px) {

  body {
    background-position: center 95%;
  }
}