html,
body,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
}
body {
  background-color: #ebe9de;
  background-image: url("images/mountains.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.color {
  height: 40px;
  width: 25vw;
  border: none;
}